$primary-color: #DA1219; // Replace with your primary color
$text-dark: #333; // Replace with your text color
$max-width: 1200px; // Max width of the nav content

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;

  &__content {
    max-width: $max-width;
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-link {
    font-size: 2.2rem;
    color: $primary-color;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 600;
  }

  &__checkbox-label {
    display: none;
    .nav__icon {
      font-size: 2rem;
      color: $primary-color;
      cursor: pointer;
    }
  }

  &__checkbox {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }

  &__item {
    .nav__link {
      padding: 0.5rem 1rem;
      border: 2px solid transparent;
      text-decoration: none;
      font-weight: 600;
      color: $text-dark;
      transition: 0.3s;

      &:hover {
        border-color: $primary-color;
        color: $primary-color;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .nav__checkbox-label {
    display: block; 
  }

  .nav__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none; 

    .nav__item {
      width: 100%; 
      text-align: center; 
    }
  }

  .nav__checkbox:checked ~ .nav__list {
    display: flex; 
  }
}